.textured {
    background-image: url('../img/blue-watercolor-texture-background.jpg');
    background-repeat: repeat;
}

.white {
    background-color: #ffffff;
}

.texturedHome {
    background-repeat: repeat;
    background-image: url('../img/673f5cf444b0b29e9aab9cbf433c9a9e.jpg');
}
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}
.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.white {
    background-color: #ffffff;
}
.fieldsetCustom {
    margin: 20px;
    padding: 50px;
    border-radius: 15px;
    padding-top: 10px;

}
.divCustom {
    border-radius: 15px;
}

.table-scroll {
    max-height: 20vh; /* Defina a altura máxima desejada */
    overflow: auto; /* Habilita a barra de rolagem quando o conteúdo exceder a altura máxima */
}

legend {
    padding: 2px 4px;
}

.h2Consulta {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.rounded-div {
    border: 1px solid #666;
    border-radius: 20px;
}

.btn-successConsulta {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 10px;
    transition: none;
}

#areaFiltro {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

    #areaFiltro legend {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.col-lg-4 {
    width: 33.33%;
    float: left;
    padding-right: 10px;
}

.col-lg-1 {
    width: 8.33%;
    float: left;
    padding-right: 10px;
}

#resultadoConsulta {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center; /* center everything */
    align-items: center;
    margin-top: 20px;
    padding: 0 260px; /* prevent crawling on the logo */
}
  
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.footer-content {
    color: #777;
    margin: 15px;
    padding: 15px 0;
    text-align: center;
}


.logo {
    position: absolute; /* remove the logo from the flow */
    left: 20px; /* move the logo to left */
    height: 54px;
    width: 100px;
}

#nav-bar > ul {
    display: flex; /* make a horizontal menu */
    gap: 20px; /* gap between menu items */
    list-style: none;
    padding-left: 0px;
}

.img, #nav-bar > ul > li {
        border: 1px solid gray;
        padding: 5px;
}
/.vs/iKnow/FileContentIndex/fbdec969-4403-4570-a8d6-58f6876bd45b.vsidx
/.vs/iKnow/FileContentIndex/eca79b05-4ee9-490a-b83f-ea6a4d55f28f.vsidx
/.vs/iKnow/FileContentIndex/e5bd6e41-cb78-4c07-9fa5-5d8efadec21f.vsidx
/.vs/iKnow/FileContentIndex/95de228c-2e5a-43d0-a178-268bd6cff78c.vsidx
/.vs/iKnow/FileContentIndex/9542e76b-a780-483c-a1b6-deb673e0aaf7.vsidx
/.vs/iKnow/FileContentIndex/7fdfe255-feec-4614-b629-a8960f5754d5.vsidx
/.vs/iKnow/FileContentIndex/6c634db8-0a59-431d-b0ed-8b580c3a26c6.vsidx
/.vs/iKnow/FileContentIndex/28dace92-17c5-4bcd-bfc6-c1c4610509f0.vsidx
/.vs/iKnow/v17/.wsuo
/iKnow/obj/project.nuget.cache
/iKnow/obj/project.assets.json
/iKnow/obj/iKnow.csproj.nuget.dgspec.json
/iKnow/obj/Debug/netcoreapp3.1/project.razor.vs.json
/iKnow/obj/Debug/netcoreapp3.1/iKnow.GeneratedMSBuildEditorConfig.editorconfig
/iKnow/obj/Debug/netcoreapp3.1/iKnow.assets.cache
