@model ClienteViewModel
@{
    ViewData["Title"] = "Form";
}

<head>
    <link rel="stylesheet" type="text/cs" href="~/css/home.css">

</head>
<body>
	<div class="container">
        <img src="img/LogoIknow.jpg" />
    </div>
</body>

