@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset id="areaFiltro" class="form-group">
    <legend>Consulta avançada de Jogos</legend>
    <div class="row">
        <div class="col-lg-4">
            Nome<br />
            <input type="text" id="nome" class="form-control" />
        </div>
        <div class="col-lg-4">
            Categoria<br />
            <input type="text" id="categoria" class="form-control" />
        </div>
        <div class="col-lg-4">
            Preço inicial<br />
            <input type="number" id="precoInicial" step="0.01" class="form-control" />
        </div>
        <div class="col-lg-4">
            Preço inicial<br />
            <input type="number" id="precoFinal" step="0.01" class="form-control" />
        </div>
        <div class="col-lg-1">
            <br />
            <input type="button" id="btnFiltro" class="btn btn-success" value="Aplicar"
                   onclick="aplicaFiltroConsultaAvancada()" />
        </div>
    </div>
</fieldset>
<div id="resultadoConsulta" class="table-responsive">
</div>
