@using iKnow.Controllers;
@model List<ProdutoViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <link href="@Url.Content("~/css/consulta.css")" rel="stylesheet" type="text/css" />
</header>
<body class="textured">

    <h2 style="color: #FFF"class="h2Consulta">Listagem de Produtos</h2>

    <br />

    <a type="button" class="btn btn-success" href="/produto/create">Novo produto</a>
    <br />
    <div class="divCustom white">

        <fieldset class="fieldsetCustom">
            <legend>Consulta de Produtos</legend>
            <div class="row">
                <div class="col-lg-4">
                    Nome<br />
                    <input type="text" id="nome" class="form-control" />
                </div>
                <div class="col-lg-4">
                    Categoria<br />
                    <input type="text" id="categoria" class="form-control" />
                </div>
                <div class="col-lg-4">
                    Preço inicial<br />
                    <input type="number" id="precoInicial" step="0.01" class="form-control" />
                </div>
                <div class="col-lg-4">
                    Preço Final<br />
                    <input type="number" id="precoFinal" step="0.01" class="form-control" />
                </div>
                <div class="col-lg-1">
                    <br />
                    <input type="button" id="btnFiltro" class="btn btn-success" value="Aplicar"
                           onclick="aplicaFiltroConsultaAvancada()" />
                </div>
            </div>
        </fieldset>

    </div>
    <div id="resultadoConsulta" class="table-responsive white">
    </div>

</body>

<script>
    window.addEventListener('load', function () {
        // Faz uma chamada assíncrona para o método da controller
        aplicaFiltroConsultaAvancada();
    });
</script>
