@model List<FuncionarioViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header>
    <link href="@Url.Content(" ~/css/home.css")" rel="stylesheet" type="text/css" />
</header>

<body class="consulta">
    <div class="container">
        <div class="divCustom white">
            <fieldset class="fieldsetCustom">
                <div style="margin-top:2% !important; margin-bottom:1%">Consulta de Funcionários</div>
                <div class="camposconsulta">
                    <div class="row">
                        <div class="col-3">
                            Nome<br />
                            <input type="text" id="nome" class="form-control" />
                        </div>
                        <div class="col-3">
                            CPF<br />
                            <input type="text" id="CPF" class="form-control" />
                        </div>
                        <div class="col-3">
                            Cargo<br />
                            <input type="text" id="cargo" class="form-control" />
                        </div>
                        <div class="col-3">
                            Estado<br />
                            <input type="text" id="estado" class="form-control" />
                        </div>
                        </div>
                        <div class="row" style="margin-top:2%">
                        <div class="col-3">
                                Desconto Inicial<br />
                                <input type="number" id="salarioInicial" step="0.01" class="form-control" />
                            </div>
                        <div class="col-3">
                                Desconto Final<br />
                                <input type="number" id="salarioFinal" step="0.01" class="form-control" />
                            </div>
                        <div class="col-3">
                            Cidade<br />
                            <input type="text" id="cidade" class="form-control" />
                        </div>
                        <div class="col-3">
                            <input type="button" id="btnFiltro" class="btn btn-success" style="margin-top: 10%;" value="Aplicar"
                                   onclick="aplicaFiltroConsultaAvancadaFuncionario()" />
                        </div>
                        </div>
                </div>
            </fieldset>
        </div>
        <a type="button" class="btn btn-success" href="/funcionario/create">Novo Funcionario</a>
        <div id="resultadoConsulta" class="table-responsive white">
        </div>
    </div>
</body>

<script>
    window.addEventListener('load', function () {
        // Faz uma chamada assíncrona para o método da controller
        aplicaFiltroConsultaAvancadaFuncionario();
    });
</script>