@{
    ViewData["Title"] = "Bem vindo à iKnow";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="operacao" value="@ViewBag.Operacao" />

<body class="loja">
    <div class="textoLoja">
        <p>
            Apresente seu QR Code de cliente na máquina para obter acesso e realizar suas compras.
            <br />Quando a luz ficar verde, clique abaixo para confirmar seu acesso.
        </p>
    </div>


    <div class="textoErro">

        @if (ViewBag.Erro != null)
        {
            <p style="color:red">@ViewBag.Erro</p>
        }
        <p>Não possui cadastro? <a href="Cliente/Create">Clique aqui para cadastrar-se</a>.</p>
        <a href="Loja/Compras">Compras</a>
    </div>
    </body>"


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        apagaqrcode();
        enviaqrcode("usuario");
    });
</script>
