
.textoErroMensagem {
    color: black;
    margin: auto;
    font-weight: bold;
    height: fit-content;
}

.textoErro {
    background-color: #fed0d0 !important;
    max-width: fit-content;
    min-width: 40px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    top: 80px;
    position: relative;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
    box-shadow: 0px 0px 0px 3px rgba(255, 94, 94, 0.4);
    align-content: center;
}

.div-carrinho {
    display: flex;
    min-width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    /* max-width: 800px; */
    min-height: 485px;
    max-height: 485px;
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
}

.table-compras {
    background: white;
    border-top: 60px solid #00abbe;
    margin-top: 13px;
    /* padding: 15px; */
    padding-top: -30px !important;
    box-shadow: rgba(0,0,0,0.3) 4px 4px;
    border-bottom: 5px solid #00abbe !important;
    border-radius: 10px;
    padding-bottom: 20px;
}

.table-carrinho-head {
    background-color: #00abbe;
    padding-bottom: 40px;
}

.table-carrinho-body {
    padding-bottom: 10px;
}
.table-carrinho {
    max-height: 410px;
    /* padding-bottom: 60px; */
    margin-bottom: 50px;
    min-height: fit-content;
    min-width: 600px;
    /* padding: 50px; */
    /* padding-left: 500px; */
    margin-top: 0;
    background: white;
    /* border-top: 60px solid #00abbe; */
    padding: 15px;
    padding-top: -30px !important;
    box-shadow: rgba(0,0,0,0.3) 4px 4px;
    /* border-bottom: 5px solid #00abbe !important; */
    border-radius: 10px;
    padding-bottom: 22px;
}

.xErro {
    height: 22px;
    width: 22px;
    display: inline-flex;
    align-items: center;
    background-color: darkred;
    border-radius: 50%;
    justify-content: center;
    margin-right: 6px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
    font-size: 11px;
}

.loja {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/lojafundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mostralista {
    min-height: 100px;
    max-height: 45vh;
    border-radius: 15px;
    background-color: white;
    border: 10px solid white;
    overflow: hidden;
}

.listadocarrinho th,
.listadocarrinho td {
    padding: 12px 15px;
}

.listadocarrinho {
    display:table;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow:scroll !important;
    max-height:100%;
}

.listadocarrinho thead tr {
    background-color: orangered;
    color: #ffffff;
    text-align: center;
}

    .listadocarrinho tbody tr {
        border-bottom: 1px solid #dddddd;
        overflow: auto;
    }

        .listadocarrinho tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .listadocarrinho tbody tr:last-of-type {
            border-bottom: 2px solid orangered;
        }

.carrinhotable {
    overflow-x: auto;
    max-height: 49vh;
    max-width: 99%;
    text-align: center;
    padding-left: 10px;
}

.compras {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/fundocarrinho.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textoParabens {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    /* margin-top: 30px; */
    /* margin-bottom: auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    top: 10px;
    position: relative;
    min-height: 600px;
    font-weight: bolder;
    align-items: center;
    color: white;
    text-shadow: -3px 2px 5px BLACK;
    align-content: center;
    text-align: center !important;
    justify-content: center;
}

.consulta {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/fundoconsulta.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parabens {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/fundooutro.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inseririmagem {
    background-color:white;
    border:none;
}

.displayimagem {
    display:inline !important;
}
.cadastro {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/fundocadastro.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    .botaocadastro {
    background-color: brown;
    color: white;
    transition-duration: 0.4s;
    padding: 7px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 18px;
    border: none;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .6);
}

.botaoconfirma {
    background-color: green;
    color: white;
    transition-duration: 0.4s;
    padding: 7px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 18px;
    border: none;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .6);
}

.botaologin {
    color: white;
    transition-duration: 0.4s;
    padding: 7px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 18px;
    min-width: 120px;
    height:40px !important;
    border: none;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

.textured {
    background-image: url('../img/fundologin.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.FormLogin {
    float: right;
    margin-top: 130px;
    margin-right: 0px;
}

.BorderForms {
    border-radius: 15px;
}

.white {
    background-color: #ffffff;
}

.imagem {
    border: 10px solid white;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .6);
}

.login {
    border: none !important;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .6);
    min-width: 25vw !important;
    left: 100px !important;
    border-radius: 40px !important;
}

.lojapagina {
    text-align: center;
}

.textoLoja {
    font-family: Tahoma, sans-serif;
    color: #FFF;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.texturedHome {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/fundo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hometext {
    margin-top: 10%;
    text-align:center
}

.titulo {
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}


.fieldsetCustom {
    margin: 20px;
    padding: 50px;
    border-radius: 15px;
    padding-top: 10px;
}

.divCustom {
    border-radius: 15px;
}

.table-scroll {
    max-height: 60vh; /* Defina a altura máxima desejada */
    overflow: auto; /* Habilita a barra de rolagem quando o conteúdo exceder a altura máxima */
}

legend {
    padding: 2px 4px;
}

.h2Consulta {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


.rounded-div {
    border: 1px solid #666;
    border-radius: 20px;
}

.grafico canvas {
    border-radius: 10px;
    border: 2px solid #ddd;
}

.graficos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    color: #ffffff;
}

#Graph {
    display: block;
    margin: 0 auto;
}

.grafico {
    flex-basis: calc(50% - 10px);
    margin-bottom: 15px;
}

.grafico-centralizado {
    flex-basis: 100%;
    text-align: center;
}

.TamanhoGraficos {
    width: 100%;
    height: 400px;
}

#areaFiltro {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

    #areaFiltro legend {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#resultadoConsulta {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center; /* center everything */
    align-items: center;
    padding: 0 260px; /* prevent crawling on the logo */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 80px;
    margin-top: auto;
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.2);
}

.container {
    min-height: 100%
}

.footer-content {
    color: #777;
    margin: 15px;
    margin-top: 5px;
    padding: 15px 0;
    text-align: left;
}


.logo {
    position: absolute; /* remove the logo from the flow */
    left: 20px; /* move the logo to left */
    top: 5px;
    height: 54px;
    width: 100px;
}

.botaonav {
    background-color: #00abbe;
    color: white;
    transition-duration: 0.4s;
    padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 18px;
    /*border: 2px solid #008CBA;*/
}

    .botaonav:hover {
        color: white;
        background-color: #ec673a;
        text-decoration: none;
    }


#nav-bar > ul {
    display: flex; /* make a horizontal menu */
    gap: 20px; /* gap between menu items */
    list-style: none;
    padding-left: 0px;
    padding-top: 20px;
}

.tituloconsulta {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    margin-top: -57px !important;
}

.titulocadastro {
    font-size: 34px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    margin-top: -61px !important;
    margin-bottom: 23px;
}

.consulta-avancada {
    background: white;
    border-top: 50px solid #ec673a;
    margin-top: 25px;
    padding: 15px;
    padding-top: -30px !important;
    box-shadow: rgba(0,0,0,0.3) 4px 4px;
    border-bottom: 5px solid #ec673a !important;
    border-radius: 10px;
    padding-bottom: 22px;
}

.cadastrocampo {
    background: white;
    border-top: 72px solid #ec673a;
    margin-top: 25px;
    padding: 15px;
    padding-top: -30px !important;
    box-shadow: rgba(0,0,0,0.3) 4px 4px;
    border-bottom: 5px solid #ec673a !important;
    border-radius: 10px;
    padding-bottom: 22px;
}

.table-retornada {
    background: white;
    border-top: 60px solid #00abbe;
    margin-top: 25px;
    padding: 15px;
    padding-top: -30px !important;
    box-shadow: rgba(0,0,0,0.3) 4px 4px;
    border-bottom: 5px solid #00abbe !important;
    border-radius: 10px;
    padding-bottom: 22px;
}

.camposconsulta {
    font-weight: bold;
    color: #078997;
}