.textured {
    background-image: url('../img/blue-watercolor-texture-background.jpg');
}

.FormLogin {
    float: right;
    margin-top: 130px;
    margin-right: 0px;
}

.BorderForms {
    border-radius: 15px;
}

.white {
    background-color: #ffffff;
}

.texturedHome {
    background-image: url('../img/fundo.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.hometext {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.subtitulo {
}

.fieldsetCustom {
    margin: 20px;
    padding: 50px;
    border-radius: 15px;
    padding-top: 10px;
}

.divCustom {
    border-radius: 15px;
}

.table-scroll {
    max-height: 60vh; /* Defina a altura máxima desejada */
    overflow: auto; /* Habilita a barra de rolagem quando o conteúdo exceder a altura máxima */
}

legend {
    padding: 2px 4px;
}

.h2Consulta {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}


.rounded-div {
    border: 1px solid #666;
    border-radius: 20px;
}

.grafico canvas {
    border-radius: 10px;
    border: 2px solid #ddd;
}

.graficos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    color: #ffffff;
}

#Graph {
    display: block; 
    margin: 0 auto; 
}

.grafico {
    flex-basis: calc(50% - 10px);
    margin-bottom: 15px;
}

.grafico-centralizado {
    flex-basis: 100%;
    text-align: center; 
}

.TamanhoGraficos {
    width: 100%;
    height: 400px;
}
#areaFiltro {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

    #areaFiltro legend {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#resultadoConsulta {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 4px;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center; /* center everything */
    align-items: center;
    padding: 0 260px; /* prevent crawling on the logo */
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 80px;
    margin-top: auto;
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.2);
}

.footer-content {
    color: #777;
    margin: 15px;
    margin-top: 5px;
    padding: 15px 0;
    text-align: left;
}


.logo {
    position: absolute; /* remove the logo from the flow */
    left: 20px; /* move the logo to left */
    top: 5px;
    height: 54px;
    width: 100px;
}

.botaonav {
    background-color: #00abbe;
    color: white;
    transition-duration: 0.4s;
    padding: 7px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 18px;
    /*border: 2px solid #008CBA;*/
}

    .botaonav:hover {
        color:white;
        background-color: #ec673a;
        text-decoration: none;
    }


#nav-bar > ul {
    display: flex; /* make a horizontal menu */
    gap: 20px; /* gap between menu items */
    list-style: none;
    padding-left: 0px;
    padding-top: 20px;
}
