@{
    ViewData["Title"] = "Bem vindo à iKnow";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>

        h1, h2 {
            font-family: 'Brush Script MT', sans-serif;
            color: #FFF;
            font-weight: bold;
        }
    </style>
</head>
<body class="texturedHome">
    <div class="titulo">
        <h1>Bem vindo à iKnow</h1>
        <br />
    </div>
    <div class="subtitulo">
        <h2>A primeira livraria automatizada do Brasil</h2>
        <br />
    </div>
    <br />
</body>



