@{
    ViewData["Title"] = "Bem vindo à iKnow";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>

        h1, h2 {
            font-family: Tahoma, sans-serif;
            color: #FFF;
            font-weight: bold;
        }
    </style>
</head>

<body class="texturedHome">
    <div class="hometext" id="hometext">
        <div class="titulo">
            <h1>Bem vindo à iKnow</h1>
            <h2 style="font-size: 16px">A primeira livraria automatizada do Brasil</h2>
        </div>
    </div>
</body>



