@{
    ViewData["Title"] = "Bem vindo à iKnow";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Bem vindo à iKnow, a primeira livraria completamente automizada do Brasil!</h1>
</div>

<script>
    // Executar enviaqrcode assim que a view for carregada
    $(document).ready(function () {
        apagaqrcode();
    });
</script>