@{
    ViewData["Title"] = "Sobre";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="parabens">
    <div class="container">
        <img src="~/img/iknowfull2.png" style="display: flex; margin: auto; width: 500px; height: auto; -webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222); position: relative; top: 145px;" />
        <div class="textoParabens">
            <h1 style="font-size: 60px; margin-bottom: 35px;">A iKnow foi criada como um projeto interdiscplinar para o 5º Semestre do curso de Engenharia da Computação
                da Faculdade Engenheiro Salvador Arena. Neste projeto são integrados conceitos de Sistemas Digitais e Microcontroladores, Línguagens de Programação, Banco de Dados e Gestão de Projetos.
                Os integrantes do grupo são:
                Lorenzo Messias Lacerda - RA 081210026
                Caio Henrique Diniz Municelli - RA 081210002
                Luiz Guilherme de Souza - RA 081210010

                A ideia de nosso projeto se baseia na prototipagem de um sistema automatizado para compras utilizando o microcontrolador Esp32 para realizar a leitura de QR Codes para que itens sejam adicionados
                à compra dos clientes sem a necessidade de um ser humano atuando como intermediário. Utilizando a plataform Helix Sandbox NG fomos capazes de enviar os dados lidos pela camera do Esp32 para a nuvem e assim recebe-los em nossa aplicação do Asp.NET MVC.
                Além disso, construimos uma loja fícticia com seu própio branding e uma enorme diferencial: o cliente é capaz de receber descontos com base na sua renda bruta. Basta enviar um documento para avaliação e aguardar a resposta. Caso seja aplicado, um desconto fixo será aplicando à sua conta, sendo este válido para todos os livros.
                Este projeto foi uma verdadeira experiência de aprendizado para todos os membros de nosso grupo. Desenvolvemos nosso conceito sobre IoT, web design, C#, CSS, Html, programação de microcontroladores, manutenção de bancos de dados, empreendedorismo, gestão, trabalho em equipe, entre diversos outros.
            </h1>
            <h2>Obrigado por nos escolher e aproveite a leitura!</h2>
            <h2>Aguardamos ansiosamente o seu retorno!</h2>
        </div>
    </div>
    </div>

</body>



